/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 22, 2017, 10:25:31 AM
    Author     : Ricardo
*/

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      /*background-color: black;*/
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      /*width: 100%;  Set width to 100%*/ 
      margin: auto;
      /*min-height:200px;*/
      max-height: 300px !important;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  
  /*Style configuration for checkboxes*/
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  li {
    display: inline-block;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="checkbox"] {
    display: none;
  }
  
/*Style configuration for status's checkboxes*/
  label.lblTipo {
    /*border: 1px solid #eee;*/
    padding: 10px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 160%;
    /*width: 100px;*/
    color: black;
  }

  label.lblTipo:before {
    
    font-family: FontAwesome;
    letter-spacing: 10px;
    color: lightgrey;
    content: "\f10c";
  }

  :checked + label.lblTipo:before {
    content: "\f192";
    color: #5fba7d;
  }

  .form-group {
      margin-bottom: 0px;
  }
  
  .form-control {
      width: 70px;
      display: inline-block;
  }
  
/*Style configuration for status's checkboxes*/
  label.lblCF {
    /*border: 1px solid #eee;*/
    padding: 10px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 160%;
    /*width: 100px;*/
    color: black;
  }

  label.lblCF:before {
    
    font-family: FontAwesome;
    letter-spacing: 10px;
    color: lightgrey;
    content: "\f10c";
  }

  :checked + label.lblCF:before {
    content: "\f05d";
    color: #5fba7d;
  }  
  
  /*Style configuration for round's quantity*/
  label.lblQtd {
    /*border: 1px solid #eee;*/
    padding: 10px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 160%;
    /*width: 100px;*/
    color: black;
  }
  
  .btn {
      margin: 15px;
      margin-top: 22px;
      margin-left: 22px;
  }
  
  @media (max-width: 500px) {
    .btn {
        margin: 22px;
        margin-bottom: 15px;
    }
  }
  
  #pesoscss .slider-track-high {
      background: #c2d6d6;
  }
  
  #pesoscss .slider-track-low {
      background: #85adad;
  }
  
  #pesoscss .slider-selection {
      background: #a3c2c2;
  }
  
  a.linkPanel {
      display: block;
      text-decoration: none;
      font-size: 150%;
      color: black;
  }
  
  .h3Mercado {
      display: inline;
  }

  .separa {
      clear: both;
  }
  
  .logo {
      display: inline-block;
      margin: 0px;
      padding: 5px;
      /*background-color: black;*/
  }
  
  #modalloader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: url(../images/ajaxloader.gif)
                rgba( 220, 220, 220, .8 )
                50% 50%
                no-repeat;
  }

  #modalloader {
    overflow: hidden;   
  }

  #modalloader {
    display: none;
  }
  
  
/*  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 50px;
  }*/
   